<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.sinobest.framework.dao.customize.mapper.CustomizeSysCommonMapper">

    <!-- 执行动态语句 -->
    <select id="execDynamicSql" parameterType="string" resultType="map">
		${dynamicSql}
	</select>
</mapper>